@function bg($shade, $transparancy) {
    $base-color: rgba($color: $shade, $alpha: $transparancy);
    @return $base-color;
}

$base-color: rgb(24, 180, 102);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    padding: 0;
    margin: 0;

}

#topbar {
    background-color: bg($base-color, 0.75);
    min-height: 5rem;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 6rem;


    .row {
        text-align: center;
        width: 100%;
    }

    .col {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            margin-left: 0.5rem;
        }

        .logo {
            transform: rotate(45deg);
            font-size: 2.5rem;
            font-weight: 400;
            color: rgb(66, 66, 66);
            margin: 0 0.25rem;
            background-color: transparent !important;
        }

        input {
            width: 90%;
            height: 2rem;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 1rem;

            &::placeholder {
                color: gray;
            }
        }
    }
}

#downbar {
    background-color: rgba(0, 0, 0, 0.779);
    min-height: 3rem;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 6rem;


    .row {
        text-align: center;
        width: 100%;
    }

    .col {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            margin-left: 0.5rem;
        }

        .logo {
            transform: rotate(45deg);
            font-size: 2.5rem;
            font-weight: 400;
            color: rgb(66, 66, 66);
            margin: 0 0.25rem;
            background-color: transparent !important;
        }

    }
}

#navbar {
    min-height: 1.5rem;
    padding-left: 10rem;
    padding-right: 8rem;
    text-shadow: 0px 0px 1px white;
}

#home {
    background-image: url('../images/plane-aircraft-jet-airbase-67563.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-bottom: 0.1rem !important;

    .home-content {
        margin: 7rem 3rem;
        color: white;

        .row {
            padding: 0 5rem;

            .text {

                h2,
                p {
                    padding-left: 0.5rem;
                }

                p {
                    margin: 2rem 0rem;
                }

                h2 {
                    border-left: 5px solid bg($base-color, 1);
                    font-size: 2.5rem;
                }

                button {
                    background-color: bg($base-color, 1);
                    border: none;
                    color: white;
                    padding: 0.25rem 1rem;
                    margin-left: 1rem;
                }
            }
        }

        .form {
            padding: 1.5rem 3rem;
            background-color: bg($base-color, 0.75);

            p {
                margin: 0;
            }

            form {
                .form-control {
                    border: none;
                    margin-top: 1.25rem;
                    border-radius: 0;
                }

                .btn {
                    border-radius: 0;
                    margin-top: 1.25rem;
                    padding: 0.25rem 0rem;
                }
            }
        }

    }
}

#services {
    padding: 5rem 12rem;
    min-height: 100vh;
    text-align: center;


    h1 {
        margin: 0;
        font-weight: 400;
    }

    .underline {
        border: 4px solid $base-color;
        border-radius: 1rem;
        width: 2rem;
        margin: 0 auto;
    }

    p {
        margin-top: 2rem;
        font-weight: 500;
    }

    .heading {
        margin-bottom: 5rem;
    }

    .services {
        p {
            color: gray;
            font-weight: 300;
        }

        .row {
            padding: 3rem 2rem;
        }

        .col {
            .circle {
                height: auto;
                padding: 2rem;
                margin: 0 1rem;
                background: rgb(0, 255, 89);
                background: linear-gradient(0deg, rgba(0, 255, 89, 1) 0%, rgba(9, 121, 33, 0.9948354341736695) 94%);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: white;
                    font-size: 3rem;
                    font-weight: lighter;
                }
            }

            @media only screen and (max-width: 1300px) {
                .circle {
                    height: 1.5rem !important;
                }
            }

            p {
                color: black;
                margin: 0;
                margin-top: 1rem;
                text-shadow: 0 0 1px black;
                text-transform: uppercase;
                font-size: 0.75rem;
            }
        }

        button {
            margin-top: 1.5rem;
            border-radius: 0;
            padding: 0.5rem 3rem;
        }
    }
}

#about {
    background-color: rgba(217, 213, 213, 0.738);

    .about-content {
        .row {
            padding: 0 5rem;

            .text {

                h2,
                p {
                    padding-left: 0.5rem;
                }

                .underline {
                    border: 4px solid $base-color;
                    border-radius: 1rem;
                    width: 2rem;
                    margin: 0 auto;
                }

                p {
                    margin: 2rem 0rem;
                }

                h2 {
                    padding: 22px;
                    // border-left: 5px solid bg($base-color, 1);
                    font-size: 2.5rem;
                }

            }
        }

        .image {


            img {
                width: 180%;
                height: 388px;
            }
        }

    }

    button {
        border-radius: 0;
    }
}


#news {
    .row {
        align-items: center;
        padding-top: 3rem;
        justify-content: space-between;
    }

    img {
        border-radius: 0;
    }
}

#client {
    background: linear-gradient(to top, #0d7a0bba, rgb(24, 180, 102)), url('../images/plane-aircraft-jet-airbase-67563.webp');
    background-size: cover;
    background-position: center;
    min-height: 50vh;



    .card-horizontal {
        display: flex;
        justify-content: center;

        .card {

            margin: 4rem;
            width: 690px;

            .card-title {
                color: $base-color;
                font-size: 1.5rem;
            }
        }
    }

}

#contact {
    .my-5 {
        margin-top: 5rem !important;
        margin-bottom: 1rem !important;
    }

    .form {
        padding: 1.5rem 3rem;
        // border: 2px solid red;
        // border-bottom: 3px;
        // background-color: bg($base-color, 0.75);


        form {
            margin: 3rem 3rem;
            padding: 3rem;

            .form-control {
                border: none;
                border-bottom: 1px solid black;
                margin-top: 2.25rem;
                border-radius: 0;
                font-size: larger;

            }

            .btn {
                font-size: large;
                background-color: rgb(251, 110, 58);
                border-radius: 14px;
                margin-top: 7.25rem;
                padding: 0.25rem 2rem;
            }
        }
    }

}

#footer {
    .navigation {
        background-color: rgba(0, 0, 0, 0.779);

    }

    .logo {
        transform: rotate(45deg);
        font-size: 2.5rem;
        font-weight: 400;
        color: rgb(66, 66, 66);
        margin: 0 0.25rem;
        background-color: transparent !important;
    }

    footer {
        background-color: $base-color;
        color: white;

        .row {
            padding: 5rem 10rem;

            .col {
                border-right: 1px solid white;
            }

            .info {
                border: none;
                justify-content: center;

                div {
                    margin: 0 2rem;

                    p {
                        font-size: 0.75rem;
                    }
                }
            }

            .icons {
                div {
                    height: 1rem;
                    width: 1rem;
                    background-color: white;
                    color: $base-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    padding: 1rem;
                    margin-right: 1rem;
                }
            }
        }

        .footer-copyright {
            background-color: rgba(0, 0, 0, 0.779);
            color: white;
        }

        .icons {
            display: flex;

        }

    }
}